@using IntTrader.API;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IntTrader.Web.Model.ExchangeModel>

<div class="col-xs-4 col-sm-2 placeholder" ng-controller="ExchangeController" data-exchange="@Model.Id" data-pair="@Model.Pair.Key">
    <h3 class="blue"><a href="/markets/@Model.Name.ToLower()">@Model.Name</a></h3>
    <div class="modal-title" ng-model="models.ticker">{{models.ticker.lastPrice}}</div>
    <div class="center-block">
        <table class="trades" id="trades-@Model.Id"></table>
    </div>
</div>

@*<script type="text/javascript">
    
    $(document).ready(function () {
        var exchange = new Exchange("@Model.Id", "@Model.Pair.Key");

        //exchange.updatePrice(function (exchange, result) {
        //    $('#ticker-' + exchange).text(result.lastPrice + " " + result.Pair.RightCurrency.Symbol);
        //    $('#price-' + exchange).val(result.lastPrice);
        //});

        exchange.updateTrades(function(exchange,items) {
            $.each(items, function (key, value) {
                var c;
                if (value.Side.Value === "sell") {
                    c = "sell";
                }
                else {
                    c = "buy";
                }
                $('#trades-' + exchange).append("<tr><td>" + value.TimestampString + "</td><td class='" + c + "'>" + value.Price + "</td><td>" + value.Amount + "</td></tr>");
            });
        });
    });

</script>*@
